Q.1
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.
Minitab File : Cutlets.mtw

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [45]:
df1=pd.read_csv('Cutlets.csv')
df1

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

We use t test for independent samples
Null hypothesis - two independent samples have identical average (expected) values. 
Assumption- the populations have identical variances.

In [39]:
v1=df1['Unit A'].var()
v1

0.08317945374789915

In [48]:
v2=df1['Unit B'].var()
v2

0.11792400440336127

The variance between the two groups is not equal, then we will use Welch’s t-test, which is the non-parametric test equivalent of the two-sample t-test.

In [50]:
stats.ttest_ind(df1['Unit A'],df1['Unit B'], equal_var=False)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.47231324819145404)

Conclusion-
Since this p-value is greater than 0.05, we accept the null hypothesis and conclude that there is not any statistically significant difference in the diameter of the cutlet between two units

# Q.2

#Q.2
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
Minitab File: LabTAT.mtw

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [4]:
df= pd.read_csv('labTAT.csv')
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [14]:
stats.f_oneway(df['Laboratory 1'],df['Laboratory 2'],df['Laboratory 3'],df['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Conclusion-
p_value > alpha=0.05
We accept null hypothesis
Hence, there is not any difference between average TAT of different laboratories

# Q.3

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [54]:
df2= pd.read_csv("BuyerRatio.csv")
df2

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [55]:
ratio=np.array([[50,142,131,70],[435,1523,1356,750]])
ratio

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [57]:
from scipy.stats import chi2_contingency

In [58]:
chi2_contingency(ratio)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

Conclusion-
p_value > alpha=0.05
We accept null hypothesis
Hence, the male-female buyer rations are similar across regions

# Q.4

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences
Minitab File: CustomerOrderForm.mtw

In [67]:
df3= pd.read_csv("Costomer+OrderForm.csv")
df3

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [69]:
df3.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [70]:
df3.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [71]:
df3.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [72]:
df3.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [74]:
order=np.array([[271,267,269,280],[29,33,31,20]])
order

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [75]:
chi2_contingency(order)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

Conclusion-
p_value > alpha=0.05
We accept null hypothesis
Hence, the defective % does not vary by centre.